@import url('http://fonts.cdnfonts.com/css/rexmone-demo');
body {
  background: #c7d5e0;
  font-family: 'Rexmone DEMO', sans-serif;
}
h1 {
  margin: 1.5rem auto;
  color: #171a21;
  font-weight: 600;
}
h2 {
  color: #171a21;
  font-weight: 600;
}
::-webkit-scrollbar {

}
.form-input {
  padding: 0.25rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 64vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
ul:hover {
   overflow-y: auto;
}

#scores-container > li {
  padding: 0.05rem 0.5rem;
  border: 1px solid gray;
  color: #c7d5e0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  margin: 0.3rem 0;
}
#scores-container > li:hover {
  border-radius: 8px;
}
#scores-container > li:nth-child(even) {
  background: #647993;
}

#scores-container > li:nth-child(odd) {
  background: #495776;
}

.score {
  cursor: default;
  color: #fff;
}

